body{
    margin: 0;
    padding: 0;
}





#header {
    display: flex;

    width: 70%;
    margin: 40px 110px;
    padding: 68px 107px;
    background-color: #161616;
    border-radius: 34px;
    align-items: center;
}

#header .h-primary {
    color: aliceblue;



}

#header .h-primary h1 {
    color: aliceblue;
    margin-right: 33px;
    font-size: 3.34rem;
    font-family: 'Abril Fatface', cursive;

}

#header .h-primary p {
    font-size: 0.80rem;
    padding-right: 125px;
}

#header .h-primary button {
    color: white;
    height: 47px;
    font-size: 1.00rem;
    padding: 12px;
    background-color: #DD0000;
    border-radius: 9px;
}

/* main.............  */
main {
    display: flex;
    width: 100%;
}

.link {
    display: flex;
}

.Conatiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    grid-gap: 12px;
    width: 33px;
}

.box {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    align-items: center;
}

#Link-Site {
    box-sizing: border-box;
    width: 138%;
    margin-right: 26px;
    background-color: #161616;
    height: 242px;
    text-align: center;
    margin-left: 103px;
    padding: 33px 51px;
    border-radius: 15px;
}

#Link-Site .Link-1 {
    text-decoration: none;
    width: 77%;
    background-color: aliceblue;
    padding: 13px 22px;
    margin-bottom: 23px;
    border-radius: 3px;
    background-color: #DD0000;



}

#Link-Site .Link-2 {
    text-decoration: none;
    width: 87%;
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 23px;
    border-radius: 3px;
}

#Link-Site .Link-3 {
    text-decoration: none;
    width: 87%;
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 23px;
    border-radius: 3px;



}

#Link-Site a {
    text-decoration: none;
    color: #161616
}

.blogs {
    text-align: center;
    border: 2px solid rgb(231, 219, 219);
    border-radius: 12px;
    margin: 4px 0px;
    padding: 31px 50px;
}

.blogs button {
    height: 33px;
    width: 88px;
    margin: 7px 5px;
    background-color: white;
    border-radius: 8px;
    display: block;
}

.Icon {
    display: flex;
    align-items: center;
}

.Icon-1 {
    display: flex;

}

.Icon-1 img {
    padding: 12px 4px;
}

.Icon-2 {
    display: flex;
}

.Icon-2 img {
    padding: 13px 12px;
}

footer {
    margin-top: 124px;
    background-color: #161616;
}

footer h1 {
    margin-top: 124px;
    margin-bottom: 33px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Taviraj', serif;
    font-size: 33px;
}

hr {
    width: 79%;
    color: white;
}

.List {
    margin-left: 197px;
    margin-right: 242px;
    display: flex;
    justify-content: space-around;
    font-family: 'Pattaya', sans-serif;
    color: rgb(22, 22, 236);
}

ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 76px;
}
.social{
    color: aliceblue;
    display: flex;
    font-size: 44px;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 576px) {
    body {
        background-color: white;
    }

    #header {
        display: flex;
        flex-direction: column;
        width: 391px;
        padding: 0px 55px;
        margin: 0 21px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    #Link-Site {
        margin: 10px 65px;
        padding: 40px 91px;
        background-color: white;
    }

    .Conatiner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 44px;
        margin: 0 44px;
        padding: 0 55px
    }

    .List {
        display: grid;
        grid-template-columns: max-content;
        margin-bottom: -8px;
        margin-left: -73px;
        margin-right: 0;
        text-align: center;
    }
    .social{
        color: aliceblue;
        display: flex;
        flex-direction: column;
        font-size: 44px;
        justify-content: space-around;
        align-items: center;
    }
    .social i {
        padding: 22px;
    }


}

@media screen and (min-width: 576px) and (max-width: 992px) {
    body {
        background-color: white;
    }

    #header {
        width: 681px;
        padding: 37px 121px;
        margin: 0 21px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    #Link-Site {
        display: flex
    }

    #Link-Site .Link-1 {
        background-color: aliceblue
    }

    .Conatiner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 7px 23px;
        margin: 0px -1px;
    }

    .blogs {
        height: 164px;
        width: 241px;
        margin: 32px 5px;
        padding: 44px 100px;
    }

    .last {
        display: none;
    }

    .tab {
        display: none;
    }

    #Link-Site {

        box-sizing: border-box;
        width: 82%;
        background-color: white;
        margin: 6px 75px;
        height: 258px;
        text-align: center;
        padding: 87px 21px;
        border-radius: 15px;
    }

    #Link-Site .Link-1 {

        text-decoration: none;
        background-color: #DD0000;
        font-weight: 500;
        border: 0.5px solid black;
        font-size: 22px;
        width: 87%;
        padding: 5px 14px;
        margin: 11px 10px;
        border-radius: 12px;

    }

    #Link-Site .Link-2 {
        text-decoration: none;
        background-color: white;
        font-weight: 500;
        border: 0.5px solid black;
        font-size: 22px;
        width: 87%;
        padding: 5px 14px;
        margin: 11px 10px;
        border-radius: 12px;
    }

    #Link-Site .Link-3 {

        text-decoration: none;
        background-color: white;
        font-weight: 500;
        border: 0.5px solid black;
        font-size: 22px;
        width: 87%;
        padding: 18px 14px;
        margin: 11px 10px;
        border-radius: 12px;
    }

    .List {
        margin-bottom: -8px;
        margin-left: -36px;
        margin-right: 0;
        text-align: center;
    }

}